url = "/"
layout = "default"
title = "Úvod"

[collection slider]
handle = "Slider\Slide"

[global slider_settings]
handle = "Slider\Settings"

[section homepage]
handle = "Homepage"

[contactForm contactform]
==
{% if slider.getIterator().count %}
    <div class="{#container-fluid#} d-block d-md-block"> {# uncomment while slider with horizontal margin #}
        <div class="slider-swiper-wrapper position-relative {#container-fluid#}"> {# uncomment while slider with horizontal margin #}
            {% partial "_swiper/slider" slides=slider settings=slider_settings %}

{#            <div class="gradient position-absolute start-0 top-0 w-100 h-100"></div>#}

            <div class="info position-absolute start-50 translate-middle-x d-block">
                <p class="title fw-bold text-start text-white mb-0 ff-secondary text-center">
                    {{ "banner.claim"|trans|raw }}
                </p>

{#                <p class="heading h2 text-center mb-0">#}
{#                    Zakázková CNC výroba#}
{#                </p>#}
            </div>
        </div>
    </div>
{% endif %}

{#{% component "quicknews" %}#}

<div class="container-fluid py-6 activity" id="{{ "homepage.activity"|trans|slug }}">
    <div class="container-lg">
        <h2 class="mb-5 text-center">
            {{ "homepage.activity.heading"|trans }}
        </h2>

        <div class="row row-cols-1 g-5 row-cols-md-3 g-xl-6">
            {% for activity in homepage.activities %}
                <div class="col text-center">
                    <p class="mb-4">
                        <span class="border border-2 border-dark rounded-circle fs-3 d-inline-flex align-items-center justify-content-center">
                            {{ loop.index == 1 ? "A" : (loop.index == 2 ? "B" : "C") }}
                        </span>
                    </p>

                    {{ activity.text|content }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid py-6 bg-light products" id="{{ "homepage.products"|trans|slug }}">
    <div class="container-lg">
        <h2 class="mb-5 text-center">
            {{ "homepage.products"|trans }}
        </h2>

        <div class="d-flex flex-column gap-5">
            {% for product in homepage.products %}
                <div class="product">
                    <h3 class="mb-4 h4">
                        {{ product.title }}
                    </h3>

                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
                        {% for image in product.images %}
                            <div class="col">
                                <a href="{{ image.path }}" class="image-link">
                                    <img src="{{ image.thumb(600, 400, {mode: "crop"}) }}" alt="{{ image.description }}" class="img-fluid w-100">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid py-6 team" id="{{ "homepage.team"|trans|slug }}">
    <div class="container-lg">
        <h2 class="mb-5 text-center">
            {{ "homepage.team"|trans }}
        </h2>

        <div class="d-flex flex-column gap-6">
            {% for member in homepage.team %}
                <div class="row gx-lg-6">
                    <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-5 offset-lg-0 col-xl-3">
                        <p class="mb-0">
                            <img src="{{ member.image.path }}" alt="{{ member.image.description }}" class="img-fluid w-100 rounded-circle">
                        </p>
                    </div>

                    <div class="col-12 mt-5 d-flex align-items-center col-lg-7 mt-lg-0 col-xl-9">
                        <div>
                            <p class="mb-4 h3 text-center text-lg-start">
                                {{ member.name }}
                            </p>

                            <div class="text-dark fs-4">
                                {{ member.text|raw }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container-fluid py-6 bg-light contact" id="{{ "homepage.contact"|trans|slug }}">
    <div class="container-lg">
        <h2 class="mb-5 text-center">
            {{ "homepage.contact"|trans }}
        </h2>

        <div class="fs-4 text-center">
            {{ homepage.contact_text|content }}

            <p class="mb-0 mt-5">
                <img src="{{ 'assets/images/caduceus.svg'|theme }}" alt="Caduceus">
            </p>
        </div>
    </div>
</div>
